In [34]:
import numpy as np
import pandas as pd

In [35]:
#Cargar DataSet
df=pd.read_csv('../data/raw/DATASETS - OC.csv')
#Ver DataFrame
df.head()

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,TIPO_ORDEN,ANIO,PERIODO,RUC,ORDEN_NUMERO,FECHA_ORDEN,MONTO_SOLES,RAZON_SOCIAL,DESCRIPCION,ESTADO_DE_ORDEN,EXPEDIENTE_SIAF
0,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20608218824,1,20230222,234.00,A4 IMPRESIONES EMPRESA INDIVIDUAL DE RESPONSAB...,ADQUSICION DE SELLOS PARA LA DIRECCION DE ASUN...,4 - Devengada,160
1,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,2,20230222,1450.60,SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,161
2,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,3,20230222,359.50,SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,165
3,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20431995281,4,20230222,11700.00,POLYSISTEMAS CORP SOCIEDAD ANONIMA CERRADA,ADQUSICION DE FICHA OPTICA DE CALIFICACION SOL...,4 - Devengada,166
4,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,10425957622,5,20230223,739.01,MAMANI QUISPE BERNAR ANGEL,ADQUSIICION DE MATERIALES DE ESCRITORIO SOLICI...,4 - Devengada,184

LIMPIEZA DE DATOS

In [36]:
#Corrección de nombre de las columnas 
df.columns=[
    'fecha_corte',
    'departamento',
    'provincia',
    'distrito',
    'ubigeo',
    'tipo_orden',
    'año',
    'mes',
    'ruc',
    'índice',
    'fecha_orden',
    'monto_soles',
    'razón_social',
    'descripción',
    'estado_orden',
    'expediente_siaf'
]
#verificar cambios
df.head()

,fecha_corte,departamento,provincia,distrito,ubigeo,tipo_orden,año,mes,ruc,índice,fecha_orden,monto_soles,razón_social,descripción,estado_orden,expediente_siaf
0,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20608218824,1,20230222,234.00,A4 IMPRESIONES EMPRESA INDIVIDUAL DE RESPONSAB...,ADQUSICION DE SELLOS PARA LA DIRECCION DE ASUN...,4 - Devengada,160
1,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,2,20230222,1450.60,SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,161
2,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,3,20230222,359.50,SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,165
3,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20431995281,4,20230222,11700.00,POLYSISTEMAS CORP SOCIEDAD ANONIMA CERRADA,ADQUSICION DE FICHA OPTICA DE CALIFICACION SOL...,4 - Devengada,166
4,20230630,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,10425957622,5,20230223,739.01,MAMANI QUISPE BERNAR ANGEL,ADQUSIICION DE MATERIALES DE ESCRITORIO SOLICI...,4 - Devengada,184

In [37]:
#Eliminar duplicados ( si es que hay)
# Ver el número de filas antes
print("Antes:", df.shape)

# Eliminar duplicados (por defecto busca duplicados en todas las columnas)
df_sin_duplicados = df.drop_duplicates()

# Ver el número de filas después
print("Después:", df_sin_duplicados.shape)

Antes: (338, 16)
Después: (338, 16)

In [38]:
#Correguir datos nulos o faltantes
#Validando tipos de datos
print(df.dtypes)
# Ver valores nulos por columna
print(df.isnull().sum())

fecha_corte          int64
departamento        object
provincia           object
distrito            object
ubigeo               int64
tipo_orden           int64
año                  int64
mes                  int64
ruc                  int64
índice               int64
fecha_orden          int64
monto_soles        float64
razón_social        object
descripción         object
estado_orden        object
expediente_siaf      int64
dtype: object
fecha_corte        0
departamento       0
provincia          0
distrito           0
ubigeo             0
tipo_orden         0
año                0
mes                0
ruc                0
índice             0
fecha_orden        0
monto_soles        0
razón_social       0
descripción        0
estado_orden       0
expediente_siaf    0
dtype: int64

TRANSFORMACIÓN DE DATOS

In [39]:
#Correccion de formato FECHA
df['fecha_corte'] = pd.to_datetime(df['fecha_corte'], format='%Y%m%d')
df['fecha_orden'] = pd.to_datetime(df['fecha_orden'], format='%Y%m%d')
# Reemplazar el punto decimal por coma en 'monto_soles', formateando a 2 decimales
df['monto_soles'] = df['monto_soles'].apply(lambda x: f"{x:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))
#Creación de una columna para identificar el nombre del mes
df['mes_nombre'] = df['fecha_orden'].dt.strftime('%B')  # Para nombre del mes
#verificar cambios
df.head()

,fecha_corte,departamento,provincia,distrito,ubigeo,tipo_orden,año,mes,ruc,índice,fecha_orden,monto_soles,razón_social,descripción,estado_orden,expediente_siaf,mes_nombre
0,2023-06-30,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20608218824,1,2023-02-22,"234,00",A4 IMPRESIONES EMPRESA INDIVIDUAL DE RESPONSAB...,ADQUSICION DE SELLOS PARA LA DIRECCION DE ASUN...,4 - Devengada,160,February
1,2023-06-30,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,2,2023-02-22,"1.450,60",SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,161,February
2,2023-06-30,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,3,2023-02-22,"359,50",SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,165,February
3,2023-06-30,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20431995281,4,2023-02-22,"11.700,00",POLYSISTEMAS CORP SOCIEDAD ANONIMA CERRADA,ADQUSICION DE FICHA OPTICA DE CALIFICACION SOL...,4 - Devengada,166,February
4,2023-06-30,MADRE DE DIOS,TAMBOPATA,TAMBOPATA,170101,1,2023,2,10425957622,5,2023-02-23,"739,01",MAMANI QUISPE BERNAR ANGEL,ADQUSIICION DE MATERIALES DE ESCRITORIO SOLICI...,4 - Devengada,184,February

In [40]:
#Homogenización del texto 
df['departamento'] = df['departamento'].str.title().str.strip()
df['razón_social'] = df['razón_social'].str.upper().str.strip()
df['estado_orden'] = df['estado_orden'].str.strip()

In [41]:
#Ahorrando memoria mediante cetegoría
categorical_cols = ['departamento', 'provincia', 'distrito', 'tipo_orden', 'estado_orden', 'mes_nombre']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [42]:
#Guardar DataFrame limpio
df.to_csv('../data/processed/DATASETS - OC_limpio.csv', index=False)
#Verificando el nuevo df final
df.head()

,fecha_corte,departamento,provincia,distrito,ubigeo,tipo_orden,año,mes,ruc,índice,fecha_orden,monto_soles,razón_social,descripción,estado_orden,expediente_siaf,mes_nombre
0,2023-06-30,Madre De Dios,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20608218824,1,2023-02-22,"234,00",A4 IMPRESIONES EMPRESA INDIVIDUAL DE RESPONSAB...,ADQUSICION DE SELLOS PARA LA DIRECCION DE ASUN...,4 - Devengada,160,February
1,2023-06-30,Madre De Dios,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,2,2023-02-22,"1.450,60",SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,161,February
2,2023-06-30,Madre De Dios,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20490042068,3,2023-02-22,"359,50",SOLUCIONES INFORMATICAS MADRE DE DIOS SOCIEDAD...,ADQUISICION DE MATERIALES DE ESCRITORIO PARA L...,4 - Devengada,165,February
3,2023-06-30,Madre De Dios,TAMBOPATA,TAMBOPATA,170101,1,2023,2,20431995281,4,2023-02-22,"11.700,00",POLYSISTEMAS CORP SOCIEDAD ANONIMA CERRADA,ADQUSICION DE FICHA OPTICA DE CALIFICACION SOL...,4 - Devengada,166,February
4,2023-06-30,Madre De Dios,TAMBOPATA,TAMBOPATA,170101,1,2023,2,10425957622,5,2023-02-23,"739,01",MAMANI QUISPE BERNAR ANGEL,ADQUSIICION DE MATERIALES DE ESCRITORIO SOLICI...,4 - Devengada,184,February